# Values and Types

In this notebook we will see the most used values and types used in Python:

In [7]:
a = 2
b = 4.2
c = "Hello USN"
type(a)
type(b)
type(c)

str

In [19]:
#0b => binary
print(0b10) #(1*2^1)+(0*2^0)
print(0b1011) #(1*2^3)+(0*2^2)+(1*2^1)+(1*2^0) == (1*2**3)+(0*2**2)+(1*2**1)+(1*2**0) = 8+0+2+1

#0o => octal
print(0o10) #(1*8^1)+(0*8^0) 
print(0o1011) #(1*8^3)+(0*8^2)+(1*8^1)+(1*8^0) == (1*8**3)+(0*8**2)+(1*8**1)+(1*8**0) = 512+0+8+1

#0x => hexadecimal
print(0x10) #(1*16^1)+(0*16^0) 
print(0x1011) #(1*16^3)+(0*16^2)+(1*16^1)+(1*16^0) == (1*16**3)+(0*16**2)+(1*16**1)+(1*16**0) = 4096+0+16+1

2
11
8
521
16
4113

In [25]:
#scientific notation
d = .4e7
print(d)
type(d)

e = 4.2e-4
print(e)
type(e)

4000000.0
0.00042

float

In [40]:
#Almost all platforms represent Python float values as 64-bit “double-precision” values, according to the IEEE 754 standard. In that case, the maximum value a floating-point number can have is approximately 1.8 ⨉ 10308. Python will indicate a number greater than that by the string inf
print(1.79e308)
print(1.8e308) # Maximum python number aprox.

#The closest a nonzero number can be to zero is approximately 5.0 ⨉ 10-324. Anything closer to zero than that is effectively zero:
print(5e-324)
print(1e-325)

1.79e+308
inf
5e-324
0.0

In [45]:
# Complex numbers
f = 2+3j
type(f)

str

In [46]:
# Python is a dynamically-typed
f = 123
type(f)
f = '123'
type(f)

str

In [55]:
# Strings
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

# error
#print("This string contains a double quote (") character.")
#print('This string contains a single quote (') character.')

print("This string contains a double quote (\") character.")
print('This string contains a single quote (\') character.')

print('''This string has a single (') and a double (") quote.''')

print('a\
b\
c')

# slash
print('hello\\USN')
# tab
print('hello\tUSN') 
# new line
print('hello\nUSN')

# Raw strings -> ignores escape sequences (sequences with \)
print(r'Hello\nUSN') 
#or
print(R'Hello\nUSN')

This string contains a single quote (') character.
This string contains a double quote (") character.
This string contains a double quote (") character.
This string contains a single quote (') character.
This string has a single (') and a double (") quote.
abc
hello\USN
hello	USN
hello
USN
Hello\nUSN
Hello\nUSN

In [57]:
# Booleans
type(True)
type(False)

bool

In [81]:
# Conversions
#bool()	Converts an argument to a Boolean value
bool(1>2)
bool(1<=2)
bool(5==5)
bool(6!=5)

#complex()	Returns a complex number constructed from arguments
complex(3,8)

#float()	Returns a floating-point object constructed from a number or string
float(4)

#hex()	Converts an integer to a hexadecimal string
hex(16)

#int()	Returns an integer object constructed from a number or string
int('521')

#oct()	Converts an integer to an octal string
oct(8)

#str()	Returns a string version of an object
str(5==5)
str(2)

'2'